@using RealEase.Domain.Entities
@model Visit

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="id" value="@Model.Id" />
            <div class="form-group">
                <label for="propertyIdInput">PropertyId</label>
                <input type="number" step="1" class="form-control" id="propertyIdInput" value="@Model.PropertyId" />
            </div>

            <div class="form-group">
                <label for="userIdInput">UserId</label>
                <input type="number" step="1" class="form-control" id="userIdInput" value="@Model.UserId" />
            </div> 
            <div class="form-group ">
                <label for="visitDateInput">VisitDate</label>
                <input class="form-control" id="visitDateInput" value="@Model.VisitDate" />
            </div>
            <div class="form-group ">
                <label for="statusInput">Status</label>
                <input class="form-control" id="statusInput" value="@Model.Status" />
            </div>
            <div class="form-group ">
                <label for="notesInput">Notes</label>
                <input class="form-control" id="notesInput" value="@Model.Notes" />
            </div>
          
            <button type="button" id="UpdateVisitButton" class="btn btn-primary">Save</button>
            <a href="/Visits" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>



@section Scripts
{

    <script>
        $(document).ready(function () {
            $('#UpdateVisitButton').click(function (e) {
                e.preventDefault();
                 var VisitId = $('#id').val();
                // var url = window.location.pathname;
                // var VisitId = url.substring(url.lastIndexOf('/') + 1);
                //const VisitId = url.split('/').pop();
                var updatedVisit = {
                    PropertyId: $('#propertyIdInput').val(),
                    UserId: $('#userIdInput').val(),
                    VisitDate: $('#visitDateInput').val(),
                    Status: $('#statusInput').val(),
                    Notes: $('#notesInput').val()
                    
                };

                $.ajax({
                    url: 'https://localhost:7012/Visit/UpdateVisit/' + VisitId,
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(updatedVisit),
                    success: function () {
                        alert('Visit updated successfully');
                        window.location.href = '/Visits';
                    },
                    error: function (error) {
                        console.log('Error:', error);
                    }
                });
            });
        });
    </script>


}

