   @model ContractsViewModel

@{
    ViewData["Title"] = "Contract List";


}



    <h2 class="text-primary">All Contracts</h2>
    <a class="btn btn-primary" id="addContractButton" > Add </a>
        
   

<div class="card shadow-sm">
    <div class="card-body">
        <h4 class="text-secondary">All Contracts</h4>
        <table class="table table-striped table-hover text-center">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>ClientId</th>
                    <th>AgentId</th>
                    <th>PropertyId</th>
                    <th>StartDate</th>
                    <th>EndDate</th>
                    <th>MonthlyAmount</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            <tbody id="ContractsTableBody">
                <tr>
                    <td colspan="9">No Records found</td>
                </tr>
            </tbody>
                @* @if (Model.AllContracts != null && Model.AllContracts.Any())
                {
                    @foreach (var Contract in Model.AllContracts)
                    {
                        <tr>
                            <td>@Contract.Id</td>
                            <td>@Contract.Name</td>
                            <td>@Contract.Lastname</td>
                            <td>@Contract.Address</td>
                            <td>
                                @if (Contract.IsActive)
                                {
                                    <span class="badge bg-success">Active</span>
                                }
                                else
                                {
                                    <span class="badge bg-secondary">Inactive</span>
                                }
                            </td>
                            <td>
                                <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@Contract.Id">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@Contract.Id">
                                    <i class="bi bi-info-circle"></i> Details
                                </a>
                                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@Contract.Id">
                                    <i class="bi bi-trash"></i> Delete
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7" class="text-muted">No Contracts found.</td>
                    </tr>
                }
            </tbody>*@      
            </table>
    </div>
</div> 


@* <div class="card shadow-sm mt-5">
    <div class="card-body">
        <h4 class="text-secondary">Active Contracts</h4>
        <table class="table table-striped table-hover text-center">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Lastname</th>
                    <th>Address</th>
                    <th>Is Active</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ActiveContracts != null && Model.ActiveContracts.Any())
                {
                    @foreach (var Contract in Model.ActiveContracts)
                    {
                        <tr>
                            <td>@Contract.Id</td>
                            <td>@Contract.Name</td>
                            <td>@Contract.Lastname</td>
                            <td>@Contract.Address</td>
                            <td>
                                <span class="badge bg-success">Active</span>
                            </td>
                            <td>
                                <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@Contract.Id">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@Contract.Id">
                                    <i class="bi bi-info-circle"></i> Details
                                </a>
                                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@Contract.Id">
                                    <i class="bi bi-trash"></i> Delete
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7" class="text-muted">No active Contracts found.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div> 
 </table> *@

@section Scripts
{
    <script>

        $(document).ready(function () {
            loadContracts();

            $('#addContractButton').click(function () {
                window.location.href = 'https://localhost:7146/Contracts/Create';
            });

            $(document).on('click', '.delete-Contract', function () {
                var ContractId = $(this).data('id');
                if (confirm('Are you sure you want to delete this Contract?')) {
                    $.ajax({
                        url: 'https://localhost:7012/Contract/DeleteContract/' + ContractId,
                        type: 'DELETE',
                        success: function () {
                            alert('Contract deleted successfully');
                            loadContracts();
                        },
                        error: function (error) {
                            console.log('Error:', error);
                        }
                    });
                }
            });

            $(document).on('click', '.edit-Contract', function () {
                var ContractId = $(this).data('id');
                window.location.href = 'https://localhost:7146/Contracts/Edit/' + ContractId;
            });

        });

        function loadContracts() {
            $.ajax({
                url: 'https://localhost:7012/Contract/GetContracts',
                type: 'GET',
                success: function (data) {
                    var tableBody = '';
                    if (data.length === 0) {
                        tableBody = '<tr><td colspan="9">No Records found</td></tr>';
                    } else {
                        $.each(data, function (index, Contract) {
                            tableBody += '<tr>' +
                                '<td>' + Contract.id + '</td>' +
                                '<td>' + Contract.clientId + '</td>' +
                                '<td>' + Contract.agentId + '</td>' +
                                '<td>' + Contract.propertyId + '</td>' +
                                '<td>' + Contract.startDate + '</td>' +
                                '<td>' + Contract.endDate + '</td>' +
                                '<td>' + Contract.monthlyAmount + '</td>' +
                                '<td>' + Contract.status +
                                '<td>' +
                                '<a class="btn btn-warning edit-Contract" data-id="' + Contract.id + '">Edit</a> ' +
                                '<button class="btn btn-danger delete-Contract" data-id="' + Contract.id + '">Delete</button>' +
                                '</td>' +
                                '</tr>';
                        });
                    }
                    $('#ContractsTableBody').html(tableBody);
                     

                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        }

    </script>

}