@model RealEase.Domain.Entities.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="id" value="@Model.Id" />
            <div class="form-group">
                <label for="nameInput">Name</label>
                <input class="form-control" id="nameInput" value="@Model.Name" />
            </div>
            <div class="form-group">
                <label for="lastnameInput">Lastname</label>
                <input class="form-control" id="lastnameInput" value="@Model.Lastname" />
            </div> 
            <div class="form-group ">
                <label for="addressInput">Address</label>
                <input class="form-control" id="addressInput" value="@Model.Address" />
            </div>
           <div class="form-group form-check">
            <label class="form-check-label" for="isActiveInput">Is Active</label>
            <input type="checkbox" class="form-check-input" id="isActiveInput" @(Model.IsActive) {@:checked } />
            </div>
          
            <button type="button" id="UpdateUserButton" class="btn btn-primary">Save</button>
            <a href="/Users" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>



@section Scripts
{

    <script>
        $(document).ready(function () {
            $('#UpdateUserButton').click(function (e) {
                e.preventDefault();
                 var UserId = $('#id').val();
                // var url = window.location.pathname;
                // var UserId = url.substring(url.lastIndexOf('/') + 1);
                //const UserId = url.split('/').pop();
                var updatedUser = {
                    Name: $('#nameInput').val(),
                    Lastname: $('#lastnameInput').val(),
                    IsActive: $('#isActiveInput').prop('checked'),
                    Address: $('#addressInput').val()
                };

                $.ajax({
                    url: 'https://localhost:7012/User/UpdateUser/' + UserId,
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(updatedUser),
                    success: function () {
                        alert('User updated successfully');
                        window.location.href = '/Users';
                    },
                    error: function (error) {
                        console.log('Error:', error);
                    }
                });
            });
        });
    </script>


}

