   @model UsersViewModel

@{
    ViewData["Title"] = "User List";


}



    <h2 class="text-primary">All Users</h2>
    <a class="btn btn-primary" id="addUserButton" > Add </a>
        
   

<div class="card shadow-sm">
    <div class="card-body">
        <h4 class="text-secondary">All Users</h4>
        <table class="table table-striped table-hover text-center">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>PhoneNumber</th>
                    <th>PasswordHash</th>
                    <th>Role</th>
                    <th>Is Active</th>
                    <th>Actions</th>
                </tr>
            <tbody id="UsersTableBody">
                <tr>
                    <td colspan="9">No Records found</td>
                </tr>
            </tbody>
                @* @if (Model.AllUsers != null && Model.AllUsers.Any())
                {
                    @foreach (var User in Model.AllUsers)
                    {
                        <tr>
                            <td>@User.Id</td>
                            <td>@User.Name</td>
                            <td>@User.Lastname</td>
                            <td>@User.Address</td>
                            <td>
                                @if (User.IsActive)
                                {
                                    <span class="badge bg-success">Active</span>
                                }
                                else
                                {
                                    <span class="badge bg-secondary">Inactive</span>
                                }
                            </td>
                            <td>
                                <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@User.Id">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@User.Id">
                                    <i class="bi bi-info-circle"></i> Details
                                </a>
                                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@User.Id">
                                    <i class="bi bi-trash"></i> Delete
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7" class="text-muted">No Users found.</td>
                    </tr>
                }
            </tbody>*@      
            </table>
    </div>
</div> 


@* <div class="card shadow-sm mt-5">
    <div class="card-body">
        <h4 class="text-secondary">Active Users</h4>
        <table class="table table-striped table-hover text-center">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Lastname</th>
                    <th>Address</th>
                    <th>Is Active</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ActiveUsers != null && Model.ActiveUsers.Any())
                {
                    @foreach (var User in Model.ActiveUsers)
                    {
                        <tr>
                            <td>@User.Id</td>
                            <td>@User.Name</td>
                            <td>@User.Lastname</td>
                            <td>@User.Address</td>
                            <td>
                                <span class="badge bg-success">Active</span>
                            </td>
                            <td>
                                <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@User.Id">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@User.Id">
                                    <i class="bi bi-info-circle"></i> Details
                                </a>
                                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@User.Id">
                                    <i class="bi bi-trash"></i> Delete
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7" class="text-muted">No active Users found.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div> 
 </table> *@

@section Scripts
{
    <script>

        $(document).ready(function () {
            loadUsers();

            $('#addUserButton').click(function () {
                window.location.href = 'https://localhost:7146/Users/Create';
            });

            $(document).on('click', '.delete-User', function () {
                var UserId = $(this).data('id');
                if (confirm('Are you sure you want to delete this User?')) {
                    $.ajax({
                        url: 'https://localhost:7012/User/DeleteUser/' + UserId,
                        type: 'DELETE',
                        success: function () {
                            alert('User deleted successfully');
                            loadUsers();
                        },
                        error: function (error) {
                            console.log('Error:', error);
                        }
                    });
                }
            });

            $(document).on('click', '.edit-User', function () {
                var UserId = $(this).data('id');
                window.location.href = 'https://localhost:7146/Users/Edit/' + UserId;
            });

        });

        function loadUsers() {
            $.ajax({
                url: 'https://localhost:7012/User/GetUsers',
                type: 'GET',
                success: function (data) {
                    var tableBody = '';
                    if (data.length === 0) {
                        tableBody = '<tr><td colspan="6">No Records found</td></tr>';
                    } else {
                        $.each(data, function (index, user) {
                            tableBody += '<tr>' +
                                '<td>' + user.id + '</td>' +
                                '<td>' + user.firstName + '</td>' +
                                '<td>' + user.lastName + '</td>' +
                                '<td>' + user.email + '</td>' +
                                '<td>' + user.phoneNumber + '</td>' +
                                '<td>' + user.passwordHash + '</td>' +
                                '<td>' + user.role + '</td>' +
                                '<td>' + (user.isActive ? 'Activo' : 'No activo') + 
                                '<td>' +
                                '<a class="btn btn-warning edit-User" data-id="' + user.id + '">Edit</a> ' +
                                '<button class="btn btn-danger delete-User" data-id="' + user.id + '">Delete</button>' +
                                '</td>' +
                                '</tr>';
                        });
                    }
                    $('#UsersTableBody').html(tableBody);
                     

                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        }

    </script>

}